/********** 
VARIABLES
**********/
:root {
  /* COLOURS */
  --white: #ffffff;
  --blue-repo-title: hsl(229, 86%, 56%);

  /* TRANSITIONS */
  --toggle-transition: height 350ms ease-in-out;
}

.portfolio .card {
  margin-bottom: 2em;
  margin-top: 2em;
}

/********** 
NAVBAR MENU
**********/

.menu-container {
  display: block;
  padding: 0;
  height: 0;
  transition: var(--toggle-transition);
}

@media screen and (min-width: 1024px) {
  .menu-container {
    height: auto !important;
  }
}

.overflow-hidden {
  overflow: hidden;
}

/*changes navbar item color to is-dark theme*/
.navbar-item {
  color: #ffffff;
  background-color: #363636;
}

/* .card:hover {
  transform: scale(2, 2);
}

.card {
  display: block;
  transition: transform 2s;
} */

.card-header-title:hover {
  color: var(--blue-repo-title);
  text-decoration: underline;
  cursor: pointer;
}

.portfolio-heading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 3em;
}

.is-white {
  color: white;
}

.is-white:hover {
  text-decoration: none;
  color: white;
}

.card a:hover {
  color: var(--blue-repo-title) !important;
  text-decoration: underline;
  cursor: pointer;
}
